@charset "UTF-8";


// 设计稿宽度
$designWidth: 640;
// font相关
//-----------------------------------------------------	
$fontSize:16px ; 
$fontLineHeight:1.5;
$fontFamily:"Microsoft YaHei,Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif ;

// color

$colorText:rgb(51,51,51);
$colorBg:#f7f7f7;
$colorPlaceholder:rgb(153,153,153);

$mcolor1:#ddd;
$mcolor2:#333;
$mcolor3:#666;
$mcolor4:#999;
$mcolor5:#f7f7f7;
$mcolor6:#bec7d2;
$mcolor7:#4792f8;
$mcolor8:#fb444e;
$mcolor9:#fab202;
$mcolor10:#82d02c;
$mcolor11:#e46665;
$mcolor12:#46bad8;
$mcolor13:#deae01;
$mcolor14:#678dba;
$mcolor15:#ec7e4f;
$mcolor16:#07b9b0;
$mcolor17:#f19796;
$mcolor18:#45b9d8;
$mcolor19:#d7ae01;
$mcolor20:#e4b903;
$mcolor21:#84a1e0;
$mcolor22:#efa17f;
$mcolor23:#4184d6;
$mcolor24:#80b2ef;
$mcolor25:#d2354f;
$mcolor26:#ee95a4;
$mcolor27:#000;
$mcolor28:#0060a5;
$mcolor29:#FFF;
$mcolor30:#008cd6;
$mcolor31:#4c4c4c;
